body {
  background-image: url(../public/dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  position: relative;
  }
.catalog-box {
  margin: 10px;
}
.foods-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.food-container {
  flex: 0 1 200px;
}
.food-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 55vh;
  background-color: rgb(118, 123, 123);
  border-radius: 20px;
  box-shadow: 3px 0px 3px 5px rgba(46, 202, 46, 0.64);
-webkit-box-shadow: 3px 0px 3px 5px rgba(62, 167, 62, 0.64);
-moz-box-shadow: 3px 0px 3px 5px rgba(57, 170, 57, 0.64);
}
p, span {
  font-family: "New Amsterdam", sans-serif;
  font-size: 20px;
  color: rgb(26, 73, 32);
}
h4 {
  color: #023d31;
  font-family: "New Amsterdam", sans-serif;
  font-size: 25px;
}
.btn-quantity {
  font-family: "New Amsterdam", sans-serif;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
  font-size: 25px;
  color: rgb(26, 73, 32);
  border: none;
  margin-top: -10px;
}
img {
  width: 150px;
  height: 25vh;
  border-radius: 25px;
  transition: 1s;
  background-color: #29d4b8;
}
img:hover {
  transform: scale(1.2);
}
.category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shop-cart-button {
  cursor: pointer;
  transition: color, transform 500ms ease;
  font-size: 50px;
  color: #29d4b8;
}
.shop-cart-button:hover,
.shop-cart-button.active {
  color: blue;
  transform: scale(1.5);
}
.categoryButtonSelected {
  background-color: rgb(10, 38, 224);
}
.categoryButton:hover {
  background-color: rgb(10, 214, 10);
}
.categoryButton {
  cursor: pointer;
  font-family: "New Amsterdam", sans-serif;
  font-size: 25px;
  margin: 10px;
  padding: 20px;
  color: #9fead4;
  border: solid 1px #49e1ac;
  border-radius: 20px;
  box-shadow: 3px 0px 3px 5px rgba(164, 168, 164, 0.64);
-webkit-box-shadow: 3px 0px 3px 5px rgba(164, 168, 164, 0.64);
-moz-box-shadow: 3px 0px 3px 5px rgba(164, 168, 164, 0.64);
}
.pay-box {
  position: absolute;
  right: 380px;
}
.shop-cart {
  position: absolute;
  top: 30px;
  width: 400px;
  background-color: rgb(248, 244, 235);
  box-shadow: 3px 0px 3px 5px rgba(164, 168, 164, 0.64);
-webkit-box-shadow: 3px 0px 3px 5px rgba(164, 168, 164, 0.64);
-moz-box-shadow: 3px 0px 3px 5px rgba(164, 168, 164, 0.64);
  z-index: 1000;
}
h1 {
  font-family: "New Amsterdam", sans-serif;
  font-size: 55px;
  color: #0a9d45;
  margin-left: 100px;
}
.item-box {
  display: flex;
  margin: 5px;
  margin-left: 10px;
  padding: 2px;
  justify-content: space-between;
}
h3 {
  font-family: "New Amsterdam", sans-serif;
  font-size: 25px;
  color: #0a9d45;
  margin: 5px;
}
